<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web 安全演示 - CSRF</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>这是一个 Hack 的站点</h1>
    <p>当你访问这个站点时，它会自动伪装成你的身份，替你发一条微博。</p>

    <iframe src="/csrf/camouflage"></iframe>
</div>
</body>
</html>